.content-375px {
  display: none;
}

.content-768px {
  display: none;
}

.designNav {
  height: 80px;
}

.designNav .logo {
  margin-top: 15px;
}

.designNav .inputS {
  margin-top: 22px;
  border-radius: 50px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 5%;
  max-width: 525px;
  height: 40px;
  min-width: 100%;
  background-image: url("./img/SearchBar.png");
  background-position: right;
  background-repeat: no-repeat;
  outline: none;
}

.designNav .search {
  display: none;
}

.designNav .icon {
  margin-top: 20px;
  height: 80px;
  width: 60px;
  text-align: center;
}

.designNav .icon a {
  text-decoration: none;
  color: gray;
}

.designNav .icon a .icon-1 {
  font-size: 14px;
}

.designNav .iconB {
  margin-top: 20px;
  height: 80px;
  width: 60px;
  text-align: center;
}

.designNav .iconB a {
  text-decoration: none;
  color: gray;
}

.designNav .iconB a .icon-1 {
  font-size: 14px;
}

.designNav .iconC {
  margin-top: 20px;
  height: 80px;
  width: 60px;
  text-align: center;
}

.designNav .iconC a {
  text-decoration: none;
  color: gray;
}

.designNav .iconC a .icon-1 {
  font-size: 14px;
}

.designMenu {
  background-color: #F4F4F4;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15%;
}

.designMenu .containerH h2 {
  padding-top: 31px;
  font-size: 28px;
}

.designMenu .containerH span .inputMenu {
  border-radius: 30px;
  width: 111px;
  text-align: center;
  padding-right: 7px;
}

.designMenu .containerH .fl {
  float: right;
  font-size: 16px;
}

.designMenu .containerH .fl .inputMenuB {
  border-radius: 30px;
  text-align: center;
  width: 111px;
  padding-right: 7px;
}

.designMenu .box-1 {
  min-height: 175px;
  width: 647px;
  background-color: white;
  position: relative;
}

.designMenu .box-1 .premium {
  position: relative;
  bottom: 34px;
  right: 24px;
  background-color: #FFA500;
  text-align: center;
  height: 24px;
  width: 153px;
}

.designMenu .box-1 .tireIcon {
  width: 123px;
  height: 123px;
  position: relative;
  bottom: 35px;
}

.designMenu .box-1 .auto {
  width: 40px;
  height: 77px;
  position: relative;
  right: 28px;
  top: -7px;
}

.designMenu .box-1 .buttons {
  width: 300px;
  height: 40px;
}

.designMenu .box-1 .buttons .btnAdd {
  border: 0.1px solid #E0E0E0;
  width: 40px;
  background-color: white;
  z-index: 1;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  outline: none;
}

.designMenu .box-1 .buttons .btnAdd:active {
  opacity: 0.9;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.designMenu .box-1 .buttons .btnAdd:hover {
  background-color: rgba(196, 196, 196, 0.296);
}

.designMenu .box-1 .buttons input {
  background-color: #E0E0E0;
  text-align: center;
  width: 50px;
  padding-top: 8px;
  border: none;
  outline: none;
}

.designMenu .box-1 .addCart {
  width: 78px;
  height: 40px;
  position: absolute;
  left: 50%;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.designMenu .box-1 .addCart:active {
  opacity: 0.9;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.designMenu .box-1 .title {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-decoration: underline;
}

.designMenu .box-1 .approve {
  width: 65px;
  height: 52px;
}

.designMenu .box-1 .fontSize {
  font-size: 14px;
}

.designMenu .box-1 .price {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 5px;
}

.designMenu .box-1 .check {
  width: 15px;
  height: 15px;
}

.box-3 {
  min-height: 80px;
  min-width: auto;
  background-color: white;
}

.box-3 .buttons {
  width: 130px;
  height: 40px;
}

.box-3 .buttons .btnAdd {
  border: 0.1px solid #E0E0E0;
  width: 40px;
  background-color: white;
  z-index: 1;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.box-3 .buttons .btnAdd:active {
  opacity: 0.9;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.box-3 .buttons .btnAdd:hover {
  background-color: rgba(196, 196, 196, 0.296);
}

.box-3 .buttons input {
  background-color: #E0E0E0;
  text-align: center;
  width: 50px;
  padding-top: 8px;
  border: none;
  outline: none;
}

.box-3 .addCart {
  min-width: 136px;
  min-height: 40px;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.box-3 .addCart:active {
  opacity: 0.9;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.box-3 .title {
  font-size: 16px;
  font-weight: 700;
  width: 160px;
  text-decoration: underline;
}

.box-3 .fontSize {
  font-size: 14px;
}

.box-3 .price {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  bottom: 6px;
}

.box-3 .price2 {
  font-size: 14px;
  font-weight: 500;
  color: #8E1216;
  position: relative;
  bottom: 9px;
  right: 29px;
}

.box-3 .check {
  width: 15px;
  height: 15px;
}

.btnButton {
  border: solid black 1px;
  border-radius: 100px;
  height: 48px;
  margin-top: 16px;
  background-color: white;
  text-align: center;
  padding: 10px;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.btnButton:active {
  opacity: 0.9;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.btnButton a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .content-375px {
    display: none;
  }
  .content-768px {
    display: none;
  }
  .box-1 {
    min-height: 175px;
    width: 647px;
    background-color: white;
    position: relative;
  }
  .box-1 .premium {
    position: relative;
    bottom: 34px;
    right: 24px;
    background-color: #FFA500;
    text-align: center;
    height: 24px;
    width: 153px;
  }
  .box-1 .tireIcon {
    width: 123px;
    height: 123px;
    position: relative;
    bottom: 35px;
  }
  .box-1 .auto {
    width: 40px;
    height: 77px;
    position: relative;
    right: 28px;
    top: -7px;
  }
  .box-1 .buttons {
    width: 300px;
    height: 40px;
  }
  .box-1 .buttons .btnAdd {
    border: 0.1px solid #E0E0E0;
    width: 40px;
    background-color: white;
    z-index: 1;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    outline: none;
  }
  .box-1 .buttons .btnAdd:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .box-1 .buttons .btnAdd:hover {
    background-color: rgba(196, 196, 196, 0.296);
  }
  .box-1 .buttons input {
    background-color: #E0E0E0;
    text-align: center;
    width: 50px;
    padding-top: 8px;
    border: none;
    outline: none;
  }
  .box-1 .addCart {
    position: absolute;
    left: 40% !important;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .box-1 .addCart:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .box-1 .title {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    text-decoration: underline;
  }
  .box-1 .approve {
    width: 65px;
    height: 52px;
  }
  .box-1 .fontSize {
    font-size: 14px;
  }
  .box-1 .price {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    bottom: 5px;
  }
  .box-1 .check {
    width: 15px;
    height: 15px;
  }
  .designMenu .box-3 .addCart {
    padding-right: 32px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .content-375px {
    display: none;
  }
  .content-768px {
    display: none;
  }
  .box-1 .premium {
    position: relative;
    bottom: 34px;
    right: 4px !important;
    background-color: #FFA500;
    text-align: center;
    height: 24px;
    width: 153px;
  }
  .designMenu .box-3 .addCart {
    padding-right: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contentAllSize {
    display: none;
  }
  .content-375px {
    display: none;
  }
  .content-768px {
    display: contents;
  }
  .designNav .inputS {
    min-width: 285px;
  }
  .designMenu .box-1 {
    min-height: 236px;
    min-width: 344px;
    background-color: white;
  }
  .designMenu .box-1 .buttons {
    width: 300px;
    height: 40px;
  }
  .designMenu .box-1 .buttons .btnAdd {
    border: 0.1px solid #E0E0E0;
    width: 40px;
    background-color: white;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .box-1 .buttons .btnAdd:hover {
    background-color: rgba(196, 196, 196, 0.296);
  }
  .designMenu .box-1 .buttons .btnAdd:active {
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .designMenu .box-1 .buttons input {
    background-color: #E0E0E0;
    text-align: center;
    width: 50px;
    padding-top: 8px;
  }
  .designMenu .box-1 .premium {
    position: relative;
    bottom: 11px;
    right: 1px;
    background-color: #FFA500;
    text-align: center;
    height: 24px;
    width: 153px;
  }
  .designMenu .box-1 .tireIcon {
    width: 104px;
    height: 104px;
  }
  .designMenu .box-1 .auto {
    width: 28px;
    height: 56px;
    position: relative;
    right: 28px;
    top: 7px;
  }
  .designMenu .box-1 .addCart {
    z-index: 1;
    width: 0px;
    position: relative;
    left: -42px;
    top: 2px;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .box-1 .addCart:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .designMenu .box-1 .title {
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    text-decoration: underline;
  }
  .designMenu .box-1 .approve {
    width: 41px;
    height: 33px;
    margin-left: 8px;
  }
  .designMenu .box-1 .fontSize {
    font-size: 14px;
  }
  .designMenu .box-1 .price {
    font-size: 20px;
    font-weight: 700;
  }
  .designMenu .box-1 .check {
    width: 15px;
    height: 15px;
  }
  .designMenu .box-3 {
    min-height: 158px;
    min-width: 344px;
    background-color: white;
  }
  .designMenu .box-3 .buttons {
    width: 300px;
    height: 40px;
  }
  .designMenu .box-3 .buttons .btnAdd {
    border: 0.1px solid #E0E0E0;
    width: 40px;
    background-color: white;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .box-3 .buttons .btnAdd:hover {
    background-color: rgba(196, 196, 196, 0.296);
  }
  .designMenu .box-3 .buttons .btnAdd:active {
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .designMenu .box-3 .buttons input {
    background-color: #E0E0E0;
    text-align: center;
    width: 50px;
    padding-top: 8px;
  }
  .designMenu .box-3 .addCart {
    z-index: 2;
    min-width: 0px;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .box-3 .addCart:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  .designMenu .box-3 .title {
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    text-decoration: underline;
  }
  .designMenu .box-3 .approve {
    width: 41px;
    height: 33px;
  }
  .designMenu .box-3 .fontSize {
    font-size: 14px;
  }
  .designMenu .box-3 .price {
    font-size: 20px;
    font-weight: 700;
  }
  .designMenu .box-3 .price2 {
    font-size: 14px;
    font-weight: 500;
    color: #8E1216;
    min-width: 70px;
  }
  .designMenu .box-3 .check {
    width: 15px;
    height: 15px;
  }
  .designMenu .btnButton {
    border: solid black 1px;
    border-radius: 100px;
    height: 48px;
    margin-top: 16px;
    background-color: white;
    text-align: center;
    padding: 10px;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .btnButton:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .designMenu .btnButton a {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .contentAllSize {
    display: none;
  }
  .content-375px {
    display: contents;
  }
  .designNav {
    height: 80px;
    width: auto;
    min-height: 80px;
    min-width: auto;
  }
  .designNav .user {
    margin-top: 15px;
  }
  .designNav a .inputS {
    width: 40px;
    padding-right: 39px;
    position: relative;
    bottom: 7px;
  }
  .designNav a .inputS:hover {
    min-width: 150px;
    position: relative;
    right: 100px;
  }
  .designNav .search {
    display: none;
  }
  .designNav .icon-1 {
    display: none;
  }
  .designNav .logo {
    width: 50px;
    height: 50px;
  }
  .designMenu {
    background-color: #F4F4F4;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 15%;
  }
  .designMenu .containerH h2 {
    padding-top: 31px;
    font-size: 28px;
  }
  .designMenu .containerH span {
    display: none;
  }
  .designMenu .containerH span .inputMenu {
    display: none;
  }
  .designMenu .containerH .fl {
    float: right;
    font-size: 16px;
  }
  .designMenu .containerH .fl .inputMenuB {
    display: none;
  }
  .designMenu .scrollMenu {
    overflow-x: scroll;
  }
  .designMenu .scrollMenu .box-1 {
    min-height: 236px;
    min-width: 280px;
    background-color: white;
  }
  .designMenu .scrollMenu .box-1 .premium {
    position: relative;
    bottom: 10px;
    right: 1px;
    background-color: #FFA500;
    text-align: center;
    height: 24px;
    width: 153px;
  }
  .designMenu .scrollMenu .box-1 .tireIcon {
    width: 104px;
    height: 104px;
  }
  .designMenu .scrollMenu .box-1 .auto {
    width: 28px;
    height: 56px;
    position: relative;
    right: 27px;
    top: -16px;
  }
  .designMenu .scrollMenu .box-1 .buttons {
    width: 244px;
    height: 40px;
  }
  .designMenu .scrollMenu .box-1 .buttons .btnAdd {
    border: 0.1px solid #E0E0E0;
    width: 40px;
    background-color: white;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .scrollMenu .box-1 .buttons .btnAdd:hover {
    background-color: rgba(196, 196, 196, 0.296);
  }
  .designMenu .scrollMenu .box-1 .buttons .btnAdd:active {
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .designMenu .scrollMenu .box-1 .buttons input {
    text-align: center;
    background-color: #E0E0E0;
    width: 46px;
  }
  .designMenu .scrollMenu .box-1 .addCart2 {
    z-index: 2;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .scrollMenu .box-1 .addCart2:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  .designMenu .scrollMenu .box-1 .title {
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    text-decoration: underline;
  }
  .designMenu .scrollMenu .box-1 .approve {
    width: 41px;
    height: 33px;
  }
  .designMenu .scrollMenu .box-1 .fontSize {
    font-size: 14px;
  }
  .designMenu .scrollMenu .box-1 .price {
    font-size: 20px;
    font-weight: 700;
    margin-top: 3px;
  }
  .designMenu .scrollMenu .box-1 .check {
    width: 15px;
    height: 15px;
  }
  .designMenu .box-3 {
    height: 158x;
    min-height: 158px;
    min-width: 338px;
    background-color: white;
  }
  .designMenu .box-3 .addCart {
    min-width: 136px;
    min-height: 40px;
    z-index: 2;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .box-3 .addCart:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  .designMenu .box-3 .title {
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    text-decoration: underline;
  }
  .designMenu .box-3 .approve {
    width: 41px;
    height: 33px;
  }
  .designMenu .box-3 .fontSize {
    font-size: 14px;
  }
  .designMenu .box-3 .price {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    bottom: 6px;
  }
  .designMenu .box-3 .price2 {
    font-size: 14px;
    font-weight: 500;
    color: #8E1216;
    width: 70px;
  }
  .designMenu .box-3 .check {
    width: 15px;
    height: 15px;
  }
  .designMenu .box-3 .buttons {
    width: 130px;
    height: 40px;
  }
  .designMenu .box-3 .buttons .btnAdd {
    border: 0.1px solid #E0E0E0;
    width: 40px;
    background-color: white;
    z-index: 1;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .designMenu .box-3 .buttons .btnAdd:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .designMenu .box-3 .buttons .btnAdd:hover {
    background-color: rgba(196, 196, 196, 0.296);
  }
  .designMenu .box-3 .buttons input {
    background-color: #E0E0E0;
    text-align: center;
    width: 50px;
    padding-top: 8px;
    border: none;
    outline: none;
  }
  .btnButton {
    border: solid black 1px;
    border-radius: 100px;
    height: 48px;
    margin-top: 16px;
    background-color: white;
    text-align: center;
    padding: 10px;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
  }
  .btnButton:active {
    opacity: 0.9;
    -webkit-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  .btnButton a {
    text-decoration: none;
    color: black;
  }
}

/* width */
.scrollMenu::-webkit-scrollbar {
  height: 6px;
}

/* Handle */
.scrollMenu::-webkit-scrollbar-thumb {
  background: #d5d4d4;
  border-radius: 10px;
}

/* Handle on hover */
.scrollMenu::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #9e9e9e;
}
/*# sourceMappingURL=main.css.map */